{
  "extends": ["airbnb"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    "import/prefer-default-export": "off"
  },
  "ignorePatterns": [
    "/node_modules/", "webpack.config.js"
  ]
}